/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Css loader */

.loader-container {
    display: flex;
    justify-content: center;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: black;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Loader Error */
.error {
    font-size: 20px;
    color: red;
}

/* fetch sucessfull no data to show */
.zero-data {
    color: black;
}

/* Custom style */

body {
    background-color: #eaebec;
}

header{
    display: none;
}
.header-container-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: #377e80;
    border: 1px solid black;
}

header button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #eaebec;
    
    font-weight: 700;
    
}

li {
    padding: 2rem;
    width: 350px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

img {
    margin-bottom: 6px;
    width: 100px;
}

h2 {
    margin: 6px 0;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

p {
    margin: 5px 0;
    font-size: 12px;
    line-height: 1rem;
    color: rgb(94, 94, 94);
}

.buy-now {
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 40px;
    background-color: #377e80;
    color: white;
    border-radius: 7px;
    margin-top: 2rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fa-regular {
    color: white;
}

.rating-button {
    width: 50px;
    height: 25px;
    background-color: #388e3c;
    border-radius: 5px;
    color: white;
}

.container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 25px;
    font-weight: 800px;
}

.price-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: smaller;
    padding-left: 0.5rem;
}

.footer-container {
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.footer-container p {
    color: white;
}

button {
    border: none;
}

footer{
    display: none;
}


