/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */

* {
	box-sizing: border-box;
}

body{
	font-weight: 600;
}

.body-container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-container{
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;

}
input {
    display: block;
	height: 2.5rem;
	margin-top: 0.5rem;
	width: 100%;
	border: none;
	background-color: rgb(238, 237, 237);
	border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
	background-color: white;
	border: 1px solid blue;
	

}

input[type=checkbox] {
    display: inline-block;
	margin-bottom: 9px;
	width: auto;
}

form{
	background-color: white;
	width: 25rem;
	box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
	padding: 1rem;
}

header{
	height: 4rem;
	padding-bottom: 1.5rem;
	background-color: blue;
}

h1{
	text-align: center;
	font-size: 30px;
	padding:1rem;
	color: white;
}

h2 {
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 25px;
}
.check-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	width: 200px;
	height: 50px;
	cursor: pointer;
	background-color: green;
	color: white;
	border-radius: 10px;
}

.check-box-container{
	display: flex;
	align-items: center;
}

.footer-container p {
    color: white;
}

.footer-container {
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
	margin-top: 0.5rem;
	font-size: 12px;
	font-weight: 100;
	color: red;
}
.wrap-check-box {
	display: flex;
	flex-direction: column;
}

.sucess input{
	border: 2px solid green;
	background-color: white;
}

.error input{
	border: 2px solid red;
	background-color: white;
}

h3 {
	display: none;
	text-align: center;
	margin-top: 2rem;
	color: green;
}


@media screen and (max-width: 480px) {
	form {
		width: 100%;
		height: 100%;
	}

	input {
		height: 2rem;
		margin-top: 0.5rem;

	}

	h1 {
		font-size: 25px

	}

}

